.Login{
    display: grid;
    place-items: center;
    height: 100vh;
}

.Login > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login_inside{
    display: grid;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    padding: 30px;
}

.Login_inside>h2 {
    font-size: medium;
}

.Login_info > img{
    object-fit: contain;
    height: 120px;
    width: 120px;
    border-radius: 20px;
}



