.Poster{
    display:flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 5px 7px -7px rgba(0,0,0,0.75);
}
.Poster_top{
    display:flex;
    border-bottom: 1px solid rgb(159, 159, 159);
    padding: 20px;
    padding-bottom: 15px;
}
.Poster_profile{
    transition: transform 100ms ease-in;
}
.Poster_profile:hover{
    transform: scale(1.07);
}
.Poster_top > img{
    transition: transform 100ms ease-in;
}
.Poster_input{
    outline-width: 0;
    border: none;
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 999px;
    background-color: lightgrey;
}
.Poster_top > form > button{
    display: none;
}
.Poster_bot{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.Poster_option{
    display: flex;
    align-items: center;
    color: grey;
    padding:10px;
    margin: 5px;
    transition: transform 100ms ease-in;
}
.Poster_option > h5 {
    font-size: small;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
}
.Poster_option:hover{
    background-color:rgb(237, 237, 237);
    border-radius: 20px;
    transform: scale(1.07);
}