.profile-card{
    display:inline-block;
    flex-direction: column;
    position:fixed;
    border: none;
    border-radius: 20px;
    width: auto;
    height: auto;
    margin: 100px 0 0 35%;
    padding: 50px 50px;

    background: white;
    box-shadow: 0 1px 2px 0 rgb(37, 33, 41);
}
.profile-card.dark{
    background-color: #fff;
}

.profile-card-top{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.profile-card-bot{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 65px;
    margin-top: 15px;
}

.profile-card-bot h3{
    cursor: auto;
    transition: transform 100ms ease-in;
}
.profile-card-bot h3:hover{
    transform: scale(1.07);
}

.profile-card h3{
    color: rgb(87, 87, 87);
}
.profile-card h3[contenteditable="true"]:focus{
    outline: 1px solid gray;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
}

.avatar{
    cursor: pointer;
    transition: transform 100ms ease-in;
}
.avatar:hover{
    transform: scale(1.07);
}

