.Profile {
    display: flex;
    background-color: rgb(237, 237, 237);
}
.Settings{
    display: flex;
    background: grey;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
}