
.settings-container.light {
    width: 100vw;
    background-color: var(--bg-gray);
}
.settings-container.dark {
    width: 100vw;
    background-color: rgb(37, 33, 41);
    color: white;
    
}

.settings_header {
    height: 56px;
    display: flex;
    align-items: center;
    padding: 10px 24px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: lightgrey;
}
.settings-container.dark .settings_header {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

.settings_logo {
    font-size: 18px;
    color: var(--text-main);
    font-weight: 500;
}

.settings_header input {
    width: 100%;
    height: auto;
    padding: 10px 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    margin-left: 80px;
    outline: none;
}
.settings-container.dark .settings_header input{
    color: white;
    background-color: rgb(37, 33, 41);
}

.main-layout {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 25px;
}
.settings-container.dark .main-layout{
    color: white;
}

.settings_sidebar {
    width: 250px;
    position: sticky;
    top: 71px;
    height: calc(100vh - 71px);
}

.settings_sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.settings_sidebar li {
    padding: 10px 24px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 14px;
    color: var(--text-main);
}

.settings_sidebar li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.settings_sidebar li.settings_active {
    background: #B8EDFF;
    color: #2C6B83;
    font-weight: 500;
}
.settings-container.dark li.settings_active {
    background: #968BA2;
    color: white;
    font-weight: 500;
}

.content {
    flex: 1;
    padding: 0 40px 40px 40px;
}

.settings-group h3 {
    margin: 20px 0 12px 0;
}

.settings-container.dark .card {
    color:white;
    background-color: rgb(51, 48, 53);
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgb(37, 33, 41);
    width: 100%;
}

.card input{
    border: none;
    box-shadow: 0 1px 2px 0 rgb(37, 33, 41);
    border-radius: 20px;
    background-color: lightgrey;
    color: black;
    padding: 8px 8px;
    cursor:auto;

    outline: none;/*default browser focus*/
}
.settings-container.dark .card input{
    box-shadow: 0 1px 2px 0 rgb(37, 33, 41);
    background-color: rgb(37, 33, 41);
    color: white;

    outline: none;/*default browser focus*/
}
.card input{
    border: none;
    box-shadow: 0 1px 2px 0 rgb(37, 33, 41);
    border-radius: 20px;
    background-color: lightgrey;
    color: black;
    padding: 8px 8px;

    outline: none;/*default browser focus*/
}


.setting-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    box-sizing: border-box;
    width:100%;
    border-bottom: 1px solid var(--border-color);
}
.settings-container.dark .setting-row {
    border-bottom: 1px solid rgb(104, 104, 104);
}
.settings_text{
    flex-grow: 1;
    margin-left: 8px;
}
.settings_text > h5, .nft-info h5{
    font-size: small;
    margin-top: 5px;
    color: rgb(87, 87, 87);
}
.settings-container.dark .settings_text > h5{
    color: rgb(162, 162, 162);
}
.setting-row > h4, .nft-info h4{
    font-size: medium;
}

.setting-row:last-child {
    border-bottom: none;
}

.settings_title {
    font-size: 14px;
    color: var(--text-main);
}

.settings_subtitle {
    font-size: 12px;
    color: var(--text-sub);
    margin-top: 4px;
}

.togleArrow{
    cursor: pointer;
    border: none;
    border-radius:0;
    background-color: transparent;
    padding: 5px 5px;
}
.settings-container.dark .togleArrow{
    color: white;
}
.settings-container.dark .togleArrow:hover{
    background-color: rgb(87, 87, 87);
}
.togleArrow:hover{
    border-radius: 20px;
    background-color: lightgrey;
}
.themeOptions{
    display: flex;
    justify-content: space-between;
    transition: width 300ms ease, opacity 100ms ease, padding 300ms ease;
    background-color: lightgrey;
    border-radius: 20px;
    padding:0;
    width: 0;
    opacity:0;
    overflow: hidden;
    white-space: nowrap;
}
.themeOptions.show{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 8px;
    opacity:1;
    gap: 10px;
}
.settings-container.dark .themeOptions{
    background-color:rgb(87, 87, 87);
}
.themeOption{
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}
.themeOption:hover{
    transform: scale(1.2);
}
.themeWrapper{
    display: flex;
    align-items: center;
}

.btn{
    border: none;
    border-radius: 20px;
    background-color: #B8EDFF;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0);
    padding: 5px 5px;
    transition: transform 100ms ease-in, color 100ms ease-in;
}
.btn:hover{
    transform: scale(1.07);
    color: #00A7D1;
}
.settings-container.dark .btn:hover{
    color: rgb(37, 33, 41);
}
.settings-container.dark .btn{
     background-color: #968BA2;
     color: white;
     box-shadow: 0 1px 2px 0 rgb(37, 33, 41);
}

.addressHandler{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 15px;
}

.avatar{
    padding: 10px;
}

.nft-img img{
    width:75px;
    height:20px;
}
.nft-img{
    display: flex;
    width:100%;
    justify-content: right;
    align-items: center;
}

.nft-info{
    display:flex;
    flex-direction: column;
    width:50%;
}

.nft-option{
    display: flex;
}

.all-avatars{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.avatar_options{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    width: 100%;
    margin-top: 10px;
}
.avatar_options img{
    height: 75px;
    width: 75px;
    cursor: pointer;
    transition: transform 100ms ease-in;
}
.avatar_options img:hover{
    transform: scale(1.07);
}

.inputMsg{
    display: flex;
    font-size: medium;
    margin-top: 10px;
    color:rgb(255, 0, 123);
}